<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head jwcid="@Head">
<title>Tabset</title>
</head>
<body jwcid="@Body">
<div class="m_wrapper"><div class="m_wrapper2">

		<div jwcid="tab@Tabset" >
			<div jwcid="@TabsetContent" title="列表表格">
					<!-- 表格 开始 -->
					<div class="c_table">
						<table>
							<thead>
								<tr>
									<th>表头</th>
									<th>表头</th>
									<th>表头</th>
									<th>表头</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#nogo">文字较多的单元格</a></td>
									<td>单元格</td>
									<td>单元格</td>
									<td>单元格</td>
								</tr>
								<tr>
									<td><a href="#nogo">文字较多的单元格</a></td>
									<td>单元格</td>
									<td>单元格</td>
									<td>单元格</td>
								</tr>
								<tr>
									<td><a href="#nogo">文字较多的单元格</a></td>
									<td>单元格</td>
									<td>单元格</td>
									<td>单元格</td>
								</tr>
								<tr>
									<td><a href="#nogo">文字较多的单元格</a></td>
									<td>单元格</td>
									<td>单元格</td>
									<td>单元格</td>
								</tr>
								<tr>
									<td><a href="#nogo">文字较多的单元格</a></td>
									<td>单元格</td>
									<td>单元格</td>
									<td>单元格</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- 表格 结束 -->
			</div>
			<iframe jwcid="@TabsetFrame" title="静态树组件" 
				page="examples.component.StaticTree" scrolling="no" 
				style="width:100%;height:200px;"></iframe>
			<iframe jwcid="@TabsetFrame" title="常用表单" 
				page="examples.component.FormElement" listener="init" scrolling="no" 
				style="width:100%;height:200px;"></iframe>
		</div>

</div></div>
</body>
</html>